

<html ng-app="app.todos">
<head>
<title>Node/Angular Todos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--load cdn styles-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.9.0/css/xeditable.min.css">


<!--load cdn scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.9.0/js/xeditable.min.js"></script>
<!--include css-->
<link rel="stylesheet"  href="assets/css/style.css">
<!--load app-->
<script src="assets/js/main/app.js"></script>
<script src="assets/js/main/services/svTodos.js"></script>



</head>
<body ng-controller='toDosController'>

<div class="sidebar">
<a  class="active" href="http://127.0.0.1:3000/index1">project Đã tạo</a>
<a  href="#contact">Project đã tham gia</a>
<a href="#about">Thông tin cá nhân</a>
<a href="#about">Chat nhóm</a>
<a href="#about">Thống kê</a>
</div>

<div class="content">
<br><br><br>
<h2>TODOS</h2><br><br><br>

Tên Dự Án:<%= %>



<form>
các chức năng của hệ thống:
<br>
nhập vào công việc:
<div class="form-group">
<input type="text" ng-model="formTodoName.text" class="form-control input-lg text-center" >
</div>
người đánh giá:
<div class="form-group">
<input type="text" ng-model="form_idReviewer.text" class="form-control input-lg text-center" >
</div>
tên thành viên:
<div class="form-group">
<input type="text" ng-model="form_idMemberJoin" class="form-control input-lg text-center" >
</div>
Mức ưu tiên:
<div class="form-group">
<input type="text" ng-model="formPriority.text" class="form-control input-lg text-center" >
</div>
thời gian bắt đầu:
<div class="form-group">
<input type="text" ng-model="formTimeStart.text" class="form-control input-lg text-center" >
</div>

thời gian kết thúc:
<div class="form-group">
<input type="text" ng-model="formTimeFinish.text" class="form-control input-lg text-center" >
</div>

tiến trình:
<div class="form-group">
<input type="text" ng-model="formProgress.text" class="form-control input-lg text-center" >
</div>

comment:
<div class="form-group">
<input type="text" ng-model="formComment.text" class="form-control input-lg text-center" >
</div>

Mã project:
<div class="form-group">
<input type="text" ng-model="form_idProject.text" value="" >
</div>


<button type="submit" class="btn btn-primary btn-lg" ng-disabled="!formTodoName.text" ng-click="createTodo()" ng-init="count=0">Add</button>
</form>


<hr>
 các công việc đã tạo: <h1>{{todos.length}}</h1>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Table</h2>

<table>
  <tr>
    <th>STT</th>
    <th>Tên Công việc</th>
    <th>Người Làm</th>
    <th>độ ưu tiên</th>
    <th>Thời gian hoàn Thành</th>
    <th>Thời gian kết thúc</th>
    <th>tiến độ</th>
    <th>người đánh giá</th>
    <th>Ý kiến</th>
    <th>Thao tác</th>
  </tr>
  <tr ng-repeat="todo in todos">

    <td>{{$index+1}}</td>

    <td>
      {{todo.TodoName}} 
     
      <span  editable-text="todo.TodoName" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
    </td>
    
    <td>
      {{todo._idMemberJoin}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo._idMemberJoin" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
    </td>

    <td>
      {{todo.Priority}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo._Priority" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
      
    </td>

    <td>
      {{todo.timeStart}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo.timeStart" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
     
    </td>

    <td>
      {{todo.timeFinish}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo.timeFinish" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
    </td>

    <td>
      {{todo.Progress}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo.Progress" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
    </td>

    <td>
      {{todo._idReviewer}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo._idReviewer" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
     </td>

    <td>
      {{todo.comment}}
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ></a>
      <span  editable-text="todo.comment" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
    </td>

    <td>
      <a href  ng-click="deleteTodo(todo)"><i class="fa fa-remove"></i></a>
      <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ><i class="fa fa-edit"></i></a>
    </td>

    
  
  </tr>
 
</table>




</div>
<br><br><br>
</body>
</html>
<!--css-->
<style>
body {
margin: 0;
font-family: "Lato", sans-serif;
}

.sidebar {
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

.sidebar a.active {
background-color: #4CAF50;
color: white;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

@media screen and (max-width: 700px) {
.sidebar {
width: 100%;
height: auto;
position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
.sidebar a {
text-align: center;
float: none;
}
}
</style>

