

<html ng-app="app.todos">
<head>
<title>Node/Angular Todos</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--load cdn styles-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.9.0/css/xeditable.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!--load cdn scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.9.0/js/xeditable.min.js"></script>

<!--include css-->
<link rel="stylesheet"  href="assets/css/style.css">
<!--load app-->
<script src="assets/js/main/app.js"></script>
<script src="assets/js/main/services/svTodos.js"></script>


</head>
<body ng-controller='projectController'>

<div class="sidebar">
<a class="active" href="http://127.0.0.1:3000/index1">project Đã tạo</a>
<a href="#contact">Project đã tham gia</a>
<a href="#about">Thông tin cá nhân</a>
<a href="#about">Chat nhóm</a>
<a href="#about">Thống kê</a>
</div>

<div class="content">
<br><br><br>
<h2>QUẢN LÝ DỰ ÁN</h2><br><br><br>

<p class="text-center" ng-show="loading">
<span class="fa fa-spinner fa-spin fa-3x" ></span>
</p>
Thêm mới dự án
<form>
    <div class="form-group">
        <input type="text" ng-model="formData.text" class="form-control input-lg text-center" placeholder="tên project">
    </div>
    <div class="form-group">
        <input type="text" ng-model="formMoTa.text" class="form-control input-lg text-center" placeholder="mô tả">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!formData.text" ng-click="createTodo()" ng-init="count=0">Add</button>
</form>
<hr>
CÁC DỰ ÁN ĐÃ TẠO: <h1>{{todos.length}}</h1>
<div class="container">
<div class="row">

<div class="col-md-4"  ng-repeat="todo in todos | pagination: (currentPage - 1) * pageSize | limitTo: pageSize">
    <i class="fa fa-book fa-5x"></i><br><a href="http://127.0.0.1:3000/index2?_idProject={{todo._id}}"><h5>{{todo.name}}</h5></a>   
    <a href ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible" ><i class="fa fa-edit"></i></a>
    <span  editable-text="todo.name" e-form="textBtnForm" onaftersave="updateTodo(todo)"></span>
    <!--<a href  ng-click="deleteTodo(todo)"><i class="fa fa-remove"></i></a>-->
    <a href ng-click="deleteTodo(todo)" ><i class="fa fa-remove"></i></a>
    <br>
    Mô tả:<h6>{{todo.describe}}</h6>
    <a href ng-click="textBtnForm1.$show()" ng-hide="textBtnForm1.$visible" ><i class="fa fa-edit"></i></a>
    <span  editable-text="todo.describe" e-form="textBtnForm1" onaftersave="updateTodo(todo)"></span>
    <br>
    Ngày tạo:<h6>{{todo.timeCreate}}</h6>
</div>



<ul uib-pagination total-items="todos.length" items-per-page="pageSize " ng-model="currentPage "></ul>


</div>
<br>

</div>

</div>


</body>
</html>
<!--css-->
<style>
body {
margin: 0;
font-family: "Lato", sans-serif;
}

.sidebar {
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

.sidebar a.active {
background-color: #4CAF50;
color: white;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

@media screen and (max-width: 700px) {
.sidebar {
width: 100%;
height: auto;
position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
.sidebar a {
text-align: center;
float: none;
}
}
</style>



